.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #0d47a1;
    padding: 1rem 2rem;
    color: white;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  